html,
body {
  height: 100%;
}

body,
input,
select,
textarea,
button,
optgroup {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;
}

textarea {
  resize: none;
}
