/*
 * Poly-section (components)
 */

.c-poly-section {
  position: absolute;

  background-image: url('../images/poly-white.svg');
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  transform: scale3d(1, 1, 1);

  animation: navigatePoly 20s linear infinite alternate;

  @keyframes navigatePoly {
    to { transform: scale3d(2, 2, 2); }
  }

  @media screen and (max-width: $breakpoint-sm) {
    transform: scale3d(1.2, 1.2, 1.2);
     background-size: auto 100%;
  }
}
