/*
 * Btn (components)
 * Button abstraction
 */

.c-btn {
  border-radius: $radius-size;

  &--full {
    // hack
    backface-visibility: hidden;
    transform: translateZ(0);

    &:hover,
    &:active,
    &:focus {
      transform: scale(1.2);
    }
  }
}
