.u-h2 { height: $size-2; }
.u-w4 { width: $size-4; }

.u-maxwlayout { max-width: $size-layout; }

.u-h90p  { height: 90%; }
.u-h100p { height: 100%; }
.u-w50p  { width: 50%; }
.u-w100p { width: 100%; }

@media screen and (max-width: $breakpoint-1) {
  .u-w3\@bp1 { width: $size-3; }
}

@media screen and (max-width: $breakpoint-2) {
  .u-w2\@bp2 { width: $size-2; }
  .u-w100p\@bp2 { width: 100%; }
}
