.u-pl2 { padding-left: $space-2; }
.u-pr2 { padding-right: $space-2; }
.u-pt2 { padding-top: $space-2; }
.u-pb2 { padding-bottom: $space-2; }

.u-pl3 { padding-left: $space-3; }
.u-pr3 { padding-right: $space-3; }

.u-pt4 { padding-top: $space-4; }
.u-pb4 { padding-bottom: $space-4; }
.u-pl4 { padding-left: $space-4; }
.u-pr4 { padding-right: $space-4; }

.u-pt5 { padding-top: $space-5; }
.u-pb5 { padding-bottom: $space-5; }

@media screen and (max-width: $breakpoint-2) {
  .u-pt4\@bp2 { padding-top: $space-4; }
  .u-pb4\@bp2 { padding-bottom: $space-4; }

  .u-pln\@bp2 { padding-left: 0; }
  .u-prn\@bp2 { padding-right: 0; }
}
