.u-whiteToGrey  { background-image: linear-gradient(to right, $color-white, $color-lightgrey); }
.u-greyToWhite  { background-image: linear-gradient(to right, $color-lightgrey, $color-white); }
.u-blueToPurple { background-image: linear-gradient(to right, $color-fluoblue, $color-fluopurple); }

.u-purple { background-color: $color-purple; }
