/*
 * Position (utilities) 
 */

.u-position-a { position: absolute; }
.u-position-r { position: relative; }

.u-top     { top: 0; }
.u-bottom  { bottom: 0; }
.u-left    { left: 0; }
.u-right   { right: 0; }
