/*
 * Settings
 */

$color-lightpurple: #BD19F5; // Used for the main gradient.
$color-basepurple:  #7E5CE8;
$color-strongblue:  #3C73DB; // Used for the main gradient.
$color-mainblack:   #585858;

/*
 * Generics
 */

@import "normalize";

/*
 * Base
 */

// ...

/*
 * Objects
 */

// ...

/*
 * Components
 */

// ...

/*
 * Utilities
 */

.u-bg-mainGradient { background: linear-gradient(to bottom right, $color-lightpurple, $color-strongblue); }
