/*
 * Settings
 */

$color-lightpurple: #BD19F5; // Used for the main gradient.
$color-neopurple:   #9649BF;
$color-basepurple:  #7E5CE8;
$color-strongblue:  #3C73DB; // Used for the main gradient.
$color-darkgrey:    #CCCCCC;
$color-lightgrey:   #EFEFEF;
$color-mainblack:   #585858;
$color-mainwhite:   #FFFFFF;
$color-fullblack:   #000000;

$vertical-rhythm:   3.125em; // 50

$space-nm:           $vertical-rhythm / 2;
$space-xs:           $space-nm / 3;
$space-sm:           $space-nm / 2;
$space-md:           $space-nm * 2;
$space-lg:           $space-nm * 4;

$font-xs:           0.875em; // 14
$font-sm:           1em;     // 16
$font-nm:           1.125em; // 18
$font-md:           1.5em;   // 24
$font-lg:           2em;     // 32

$font-logo:         4em; // 64

$container-size:    75em; // 1200
$container-spacing: $vertical-rhythm / 2;

$skill-number-size: 3.5em;

/*
 * Generics
 */

@import "normalize";

/*
 * Base
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/*
 * Objects
 */

.o-frame {

  &--spaced {
    padding: $space-lg;
  }

  &--fullpage {
    width: 100%;
    height: 100%;
  }
}

.o-columns {
  display: table;

  &__item {
    display: table-cell;
    vertical-align: top;

    &--middle { vertical-align: middle;}
  }
}

/*
 * Components
 */

.c-container {
  max-width: $container-size + $container-spacing;
  height: 100%;

  padding: 0 $container-spacing;
}

.c-gradient {
  position: relative;

  background-repeat: no-repeat;
  background-size: 100% 100%;

  &--purpleblue {
    background-image: linear-gradient(
      to bottom right,
      $color-lightpurple,
      $color-strongblue
    );
  }

  &--greyscale {
    background-image: linear-gradient(
      to right,
      $color-lightgrey,
      $color-mainwhite
    );
  }
}

.c-logo {

  &__icon {
    width: auto;
    height: 9.375em; // 150
  }

  &__name {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: $font-logo;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: $color-mainwhite;

    margin-top: $space-xs;
  }
}

.c-scroll-pls {
  position: absolute;
  bottom: $space-nm;
  left: 0;

  width: 100%;
  height: 3em;

  background-image: url('../images/scrollpls.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 3em;
}

.c-main-navbar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: $space-nm;
}

.c-btn {
  padding: $space-sm $space-sm * 3;
  border-radius: .2em;

  font-size: $font-sm;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: $color-mainwhite;
  letter-spacing: .05em;

  &--ghost {
    border: 1px solid $color-mainwhite;
    opacity: .5;

    transition: opacity ease .3s;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}

.c-heading {
  color: $color-basepurple;
  font-weight: 700;
  letter-spacing: .05em;

  &--big {
    font-size: $font-lg;
  }

  &--normal {
    font-size: $font-md;
  }
}

.c-paragraph {
  color: $color-mainblack;

  &--big {
    margin-top: $space-sm;
    width: $vertical-rhythm * 8.5;

    font-size: $font-md;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .03em;
    word-spacing: .05em;
  }

  &--normal {
    margin-top: $space-sm;
    width: $vertical-rhythm * 7.5;

    font-size: $font-nm;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: .03em;
    word-spacing: .05em;
  }
}

.c-skill-step {
  position: relative;

  padding: $space-md;
  display: table;

  border-radius: 5px;
  background-color: $color-mainwhite;
  box-shadow: 0px 0px 20px rgba($color-fullblack, .1);

  &:first-of-type { margin-top: $space-md; }

  &--left { margin-left: $skill-number-size / 2; }

  &__number {
    width: $skill-number-size;
    height: $skill-number-size;

    position: absolute;
    top: 50%;
    left: -($skill-number-size / 2);
    transform: translateY(-50%);

    line-height: 3.5em;

    border-radius: 180px;
    background-image: linear-gradient(
      to bottom right,
      $color-neopurple,
      $color-basepurple
    );

    span {
      font-size: $font-md;
      color: $color-mainwhite;
      font-weight: 700;
    }
  }

  &__content {
    padding-left: $space-nm;
    text-align: left;
  }
}

/*
 * Utilities
 */

.u-align-hc {
  margin-left: auto;
  margin-right: auto;
}

.u-align-vc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.u-float-r { float: right; }

.u-display-t { display: table; }
.u-display-b { display: block; }

.u-overflow-h { overflow: hidden; }

.u-zindex-10 { z-index: 10; }
.u-zindex-20 { z-index: 20; }

.u-txalign-c { text-align: center; }
