/*
 * Scollpls (components)
 */

.c-scrollpls {
  padding: 1.8em 1em;
  display: table;

  border: 2px solid $color-base-white;
  border-radius: $radius-size * 6;

  &__whell {
    border-radius: 100%;

    width: .5em;
    height: .5em;

    background-color: $color-base-white;

    animation: swipeDown 2s ease infinite;
  }

  @keyframes swipeDown {
    0% {
      transform: translateY(-1em);
      opacity: 0;
    }

    40% {
      transform: translateY(0);
      opacity: 1;
    }

    100% { opacity: 0; }
  }

  @media screen and (max-width: $breakpoint-md) {
    font-size: 85%;
  }
}
