/*
 * Default (settings)
 */

// Colors
$color-base-purple: #7E5CE8;
$color-base-white:  #FFFFFF;
$color-base-black:  #585858;

$color-gradient-purple-1:   #BD19F5;
$color-gradient-purple-2:   #9649BF;
$color-gradient-grey-1:     #FAFAFA;
$color-gradient-grey-2:     #E6E6E6;
$color-gradient-blue-1:     #3C73DB;

// Vertical rhythm
$vertical-rhythm: 3.125em; // 50

// Space sizes
$space-unit: $vertical-rhythm / 2;

$space-xs: $space-unit / 3;
$space-sm: $space-unit / 2;
$space-nm: $space-unit;
$space-md: $space-unit * 2;
$space-lg: $space-unit * 3;
$space-xl: $space-unit * 6;

// Font sizes
$font-xs:   0.75em;   // 12
$font-sm:   1em;      // 16
$font-nm:   1.125em;  // 18
$font-md:   1.5em;    // 24
$font-lg:   2em;      // 32
$font-xl:   3em;      // 48
$font-xxl:  4em;      // 64

// Breakpoints
$breakpoint-sm: 31.25em;  // 500
$breakpoint-md: 53.125em; // 850
$breakpoint-lg: 100em;    // 1600

// Layout
$layout-size:  75em; // 1200
$layout-space: $vertical-rhythm / 2;

// Radius
$radius-size: .3em;

// Skill numbers
$label-number-size: 4em;
