/*
 * Margin (utilities)
 */

.u-mt-sm { margin-top: $space-sm; }
.u-mt-nm { margin-top: $space-nm; }
.u-mt-md { margin-top: $space-md; }
.u-mt-lg { margin-top: $space-lg; }

.u-ml-a { margin-left: auto; }
.u-mr-a { margin-right: auto; }

.u-ml-hnumber { margin-left: $label-number-size / 2; }
.u-mr-hnumber { margin-right: $label-number-size / 2; }

@media screen and (max-width: $breakpoint-md) {
  .u-ml-n\@md { margin-left: 0; }
  .u-mr-n\@md { margin-right: 0; }

  .u-ml-a\@md { margin-left: auto; }
  .u-mr-a\@md { margin-right: auto; }

  .u-mt-sm\@md { margin-top: $space-sm; }
}
